.login-popup {
    width: 100vw;
    inset: 0;
    position: fixed;
    background: rgba(118, 122, 123, 0.86);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}